.leave{
    &-new{
        padding: 20px 0;
        width: 600px;
        textarea{
            margin-bottom: 10px;
        }
        button{
            float: right;
        }
    }
    .ant-pagination{
        margin-top: 20px;
    }
    &-list{
        display: flex;
        padding: 5px;
        img{
            height: 70px;
            width: 70px;
            margin-right: 10px;
        }
        &-title{
            font-weight: 600;
            font-size: 16px;
        }
    }
}